{% extends 'base.html.twig' %}

{% block title %} Mes adresses {% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="d-flex justify-content-between align-center">
                <h1>Mes adresses</h1>
                <a class="btn btn-secondary btn-sm float-md-end" href="{{ path('account_adresse_add') }}">Ajouter une adresse</a>
            </div>
            <a href="{{ path('account') }}">Retourner à mon compte</a>
            <hr>
            {% if app.flashes %}
                <div class="alert alert-success">
                    {% for message in app.flashes('notice')  %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if app.user.adresses|length > 0 %}
                <div class="row">
                    {% for address in app.user.adresses  %}
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ address.name }}</h5>
                                    <p class="card-text">{{ address.adress }}</p>
                                    <p class="card-text">{{ address.postal }} {{ address.city }}</p>
                                    <p class="card-text">{{ address.city }} {{ address.country }}</p>
                                    <a href="{{ path('account_adresse_edit', {'id': address.id}) }}">Modifier</a> | <a href="{{ path('account_adresse_delete', {'id': address.id }) }}">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center">
                    Vous n'avez pas encore ajouté d'adresse à votre compte client. Pour en ajouter une, veuillez <a href="{{ path('account_adresse_add') }}">cliquer ici</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}