{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}
    <h1 class="mt-5">Mon compte</h1>

    <p>Bienvenue {{ app.user.firstname }} {{ app.user.lastname }}</p>

    {% if is_granted('ROLE_ADMIN') %}
        <small><a href="{{ path('admin') }}">Accéder au back office</a></small> <br>
    {% endif %}

    <div class="row mt-2">
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/account/login.png') }}" alt="Modifier mon mot de passe"> <br>
                <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/account/map.png') }}" alt="Mes adresses"> <br>
                <a href="{{ path('account_adresse') }}">Mes adresses</a>
            </div>
        </div>
        {# TODO: Faire le panier puis faire le système de commandes avant #}
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/account/shopping-bag.png') }}" alt="Mes commandes"> <br>
                <a href="{{ path('order') }}">Mes commandes</a>
            </div>
        </div>
    </div>
{% endblock %}
