{% extends 'base.html.twig' %}

{% block title %} Changer votre mot de passe {% endblock %}

{% block body %}
    <h1>Changer mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>
{% endblock %}