{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block carousel %}{% endblock %}

{% block body %}

    <div class="alert alert-warning">
        Ce site a été conçu à titre éducatif, ce n'est donc pas un réel site marchand
    </div>

    {% if app.flashes %}
        <div class="alert alert-success">
            {% for message in app.flashes('notice') %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Three columns of text below the carousel -->
    <h3>Nos meilleurs ventes</h3>
    <p>Découvrez les articles les plus vendus</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Une équipe de professionnels <span class="text-muted">au grand savoir-faire</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="{{ asset('assets/img/featurettes/first.jpg') }}" alt="Image Artisan">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Venez nous rencontrez dans nos <span class="text-muted">boutiques en France.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-fluid" src="{{ asset('assets/img/featurettes/second.jpg') }}" alt="Image Boutique">
        </div>
    </div>

{% endblock %}
