{% extends 'base.html.twig' %}

{% block title %} {{ product.name }} {% endblock %}

{% block body %}

    <h1>{{ product.name }}</h1>

    <div class="row my-5">
        <div class="col-md-5">
            <img class="img-fluid" src="/uploads/Products/{{ product.illustration }}" alt="Image du produit : {{ product.name }}">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-page-price">{{ (product.price / 100)|number_format(2, ',', '.') }} €</span>
            <hr>
            <p>{{ product.description }}</p>
            <a class="btn btn-secondary" href="{{ path('add_to_cart', {'id': product.id}) }}">Ajouter au panier</a>
        </div>
    </div>
    <hr>
    <h3>Nos meilleurs ventes</h3>
    <p>Découvrez les articles les plus vendus</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->

{% endblock %}