{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1 class="h3 mb3 font-weight-normal mt-5">Inscription</h1>

            {% if app.flashes %}
                <div class="alert alert-danger">
                    {% for message in app.flashes('error')  %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {{ form(form) }}
        </div>
    </div>

{% endblock %}
