body {
  position: relative;
}

nav {
  padding: .5rem 1rem;

  .link-login {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar-item-custom, .navbar-item-custom a {
  color: #f1f1f1;
}

.footer-custom {
  text-align: center;
  position: absolute;
  width: 100%;
  background-color: #dfeaff;
  padding-top: 25px;
  margin-top: 50px;
}

.product-container {
  margin-bottom: 150px;
}

.product-item {
  margin-top: 50px;
}

.product-item {
  h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
  }
}

.product-item {
  .product-sub {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .product-price {
    font-size: 15px;
    font-weight: bold;
  }
}

.product-page-price {
  font-size: 19px;
  font-weight: bold;
}

.block-small {
  max-width: 600px;
  margin: 0 auto;
}

.form-check {
  background-color: #f4f8ff;
  padding: 20px 65px;
  margin-top: 7px;
}

.col-form-label {
  font-weight: bold;
}

.order-summary {
  background-color: #f4f8ff;
  padding: 20px;
  margin-top: 22px;
}

.account-item {
  background-color: #f1f2f6;
  padding: 70px;

  a {
    text-transform: uppercase;
    font-size: 13px;
    color: #4b6584;
    font-weight: bold;

    &:hover {
      color: #778ca3;
      text-decoration: none;
    }
  }
}

.radio-custom {
  label {
    margin-left: 1.5rem;
  }
}