<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>E-commerceUdemy - {% block title %}{% endblock %}</title>
    </head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('home') }}">EcommerceUdemy</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ path('products') }}">Nos produits</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Qui sommes nous ?</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="/" class="nav-link">Contact</a>
                            </li>
                        </ul>
                        <div class="navbar-item-custom">
                            {% if app.user %}
                                <a class="link-login" href="/">Mon compte <small>({{ app.user.firstname }})</small></a> |
                                <a class="link-login" href="{{ path('app_logout') }}">Déconnexion</a>
                            {% else %}
                                <a class="link-login" href="{{ path('app_login') }}">Connexion</a> |
                                <a class="link-login" href="{{ path('register') }}">Inscription</a>
                            {% endif %}
                        </div>
                        <a href="{{ path('cart') }}">
                            <img class="ms-4" height="20px" src="{{ asset('assets/img/shopping-cart.png') }}" alt="Mon panier">
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% if block('carousel') is defined %}
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-indicators">
                        {% for key,header in headers  %}
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ key }}" {% if key == 0 %} class="active" {% endif %}></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for key,header in headers %}
                            <div class="carousel-item {% if key == 0 %} active {% endif %}"
                                 style="background-size: cover; background: url('/uploads/Header/{{ header.illustration }}') center;">
                                <div class="container">
                                    <div class="carousel-caption text-start">
                                        <h1>{{ header.title }}</h1>
                                        <p>{{ header.content }}</p>
                                        <p><a class="btn btn-lg btn-info" href="{{ header.btnUrl }}" role="button">{{ header.btnTitle }}</a></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="carousel-control-prev" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </button>
                    <button type="button" class="carousel-control-next" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </button>
                </div>
            {% endif %}

            <!-- Marketing messaging and featurettes
       ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->

            <div class="container marketing {% if block('carousel') is defined %} mt-5 {% endif %}">
                {% block body %}
                {% endblock %}
            </div> <!-- /.container -->

            <!-- FOOTER -->
            <footer class="footer-custom">
                <p>
                    &copy; 2021 EcommerceUdemy <br>
                    <small>
                        La boutique 100% Française <br>
                        <a href="#">Privacy</a> &middot;
                        <a href="#">Terms</a>
                    </small>
                </p>
            </footer>
        </main>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
