{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <h2>Je passe ma commande</h2>
            <p>Choisissez vos préférences avant de passer à la suite de votre commande.</p>
            <hr>
            <div class="d-md-flex">
                <div class="col-12 col-md-6">
                    {% set formHtml  %}
                        {{ form_start(form, { action: path('order-recap') }) }}
                        {{ form_label(form.adresses, 'Choisissez votre adresse de livraison') }}
                        <a class="float-lg-end" href="{{ path('account_adresse_add')}}">Ajouter une nouvelle adresse</a>
                        {{ form_end(form) }}
                    {% endset %}

                    {{ formHtml|replace({ '[br]' : '<br />' })|raw }}
                </div>
                <div class="col-12 col-md-6 mt-5 mt-md-0">
                    <div class="text-center">
                        <b>Récap de ma commande</b>
                        <p>Retrouvez le récapitulatif de vos produits</p>
                    </div>
                    {% for key,product in cart %}
                        <div class="order-summary">
                            <div class="row {% if key > 0 %} mt-2 {% endif %}">
                                <div class="col-2">
                                    <img width="50px" height="50px" src="uploads/Products/{{ product.product.illustration }}" alt="{{ product.product.name }}">
                                </div>
                                <div class="col-8 my-auto">
                                    {{ product.product.name }}
                                    <small>{{ product.product.subtitle }}</small>
                                </div>
                                <div class="col-2 my-auto">
                                    x {{ product.quantity }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
