{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>Page Introuvable</h2>
            <p>Désolé, cette page ne semble pas être accessible pour le moment</p>
            <a class="btn btn-info" href="{{ path('home') }}">Revenir à l'accueil</a>
        </div>
    </div>
{% endblock %}
